#vid{
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}

#name{
    position: fixed;
    display: block;
    left: 575px;
    top: 280px;
    opacity: 80%;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttons{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    word-spacing: 40px;
    padding: 8px 90px 10px 700px;
}

#btn1, #btn2, #btn3, #btn4, #btn5{
    border: none;
    background-color: transparent;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover{
    transition: all 0.1s ease-in-out;
    text-shadow: 0 5px 15px rgb(255, 255, 255);
    outline: none;
    border: none;
}

#location{
    position: fixed;
    display: block;
    left: 620px;
    top: 330px;
    opacity: 80%;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}